<a href="https://colab.research.google.com/github/strawndri/Edutech-projeto_final/blob/main/Notebooks/analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Importações**

## *1.1 Bibliotecas*

In [12]:
import pandas as pd

import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns

Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.19.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

## *1.2 Base de Dados*

In [13]:
dataset = pd.read_csv('https://www.educacao.pr.gov.br/sites/default/arquivos_restritos/files/documento/2021-11/edutech_comparativos_metricas.csv', sep=';')
dataset.head()

   Ano Censo  Número de Vagas Oferecidas  ...  Número de Cursos   Nome Região
0       2017                   6075252.0  ...           33522.0        BRASIL
1       2017                    554885.0  ...            3072.0  CENTRO-OESTE
2       2017                   1138928.0  ...            6715.0      NORDESTE
3       2017                    383771.0  ...            2513.0         NORTE
4       2017                   3086636.0  ...           14861.0       SUDESTE

[5 rows x 8 columns]

# **2. Funções**

# **3. Tratamento de Dados**

## *3.1 Removendo células Not a Number (NaN)*

> Dados **NaN (Not a Number)** indicam valores que foram perdidos e que não representados, isto é, trata-se de um valor indefinido. É importante que exista um tratamento destes dados, visto que podem ocasionar problemas durante a análise.

In [14]:
# dados antes da atualização
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ano Censo                    57 non-null     int64
 1   Número de Vagas Oferecidas   55 non-null     float64
 2   Número de Tipo de Ingressos  46 non-null     float64
 3   Número de Matrículas         57 non-null     int64
 4   Número de Concluintes        57 non-null     int64
 5   Número de Inscritos          55 non-null     float64
 6   Número de Cursos             54 non-null     float64
 7   Nome Região                  57 non-null     object
dtypes: float64(4), int64(3), object(1)
memory usage: 3.7+ KB

In [15]:
# tratamento de células NaN:
# o laço de repetição reconhece cada coluna do dataset;
# reconhece-se o indíce e depois o valor da lista;
# analisa se é NaN (caso seja, o valor será alterado para 0).
for column in dataset:
  for i, item in enumerate(dataset[column]):
    if (pd.isnull(item)):
      dataset.loc[i, column] = 0

# dados pós atualização
# obs: não há mais celulas NaN
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ano Censo                    57 non-null     int64
 1   Número de Vagas Oferecidas   57 non-null     float64
 2   Número de Tipo de Ingressos  57 non-null     float64
 3   Número de Matrículas         57 non-null     int64
 4   Número de Concluintes        57 non-null     int64
 5   Número de Inscritos          57 non-null     float64
 6   Número de Cursos             57 non-null     float64
 7   Nome Região                  57 non-null     object
dtypes: float64(4), int64(3), object(1)
memory usage: 3.7+ KB

## *3.2 Renomeando as colunas (removendo acentos e espaços)*

# **4. Análise de Dados**

## *4.1 Taxas de crescimento ou decaimento ano a ano para todas as regiões do Brasil*

## *4.2 Número de vagas oferecidas por região ano a ano*

## *4.3 Relação entre vagas e o número de ingressos*

## *4.4 Crescimento no número de matrículas por região*

## *4.5 Número de concluintes em cada região*

## *4.6 Comparação: número de inscritos e o número de matrículas*

## *4.7 Número de cursos ofertados na região e seus impactos no aumento de inscritos e/ou número de matrículas*

# **5. Conclusão Final**